<div class="columns">
    <section class="text-section">
        <%= partial "header" %>
    </section>
</div>
<div class="columns">
    <section class="text-section">
        <%= partial "3500_3000" %>
    </section>
</div>
<div class="columns">
    <section class="text-section">
        <%= partial "3000_2000" %>
    </section>
</div>
<div class="columns">
    <section class="text-section">
        <%= partial "2000_542" %>
    </section>
</div>
<div class="columns">
    <section class="text-section">
        <%= partial "542_today" %>
    </section>
</div>
